*{
    box-sizing: border-box;
}
#img{

        background-image: url('images/left.png'), url('images/right.jpg');
        background-color: hsl(0, 0%, 80%);  
        background-position:0% 50%, right top; 
        background-repeat: no-repeat; 
        background-size: 50% , cover;
        background-attachment:fixed;
}


.container {
    background-color: #62ddd4;
    float: left;
    margin: -7px;
    width: 45%;
    height: 600px;
}
.left {
    background-color:#62ddd4;
    height: 300px;
    margin-top: 70px;
    position: center;
    float: left;
    align-items: center;
    padding: 15px 150px;
    line-height: 40px;

}
input{
    border: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2  ;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    margin-bottom:20px;
    margin-top: 5px;
}
button {
    border: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2  ;
    border-radius: 7px;
    height: 20px;
    cursor: pointer;
    width: 70px;
    color: grey;
    height: 25px;
}
#btnfirst{
    margin-right: 30px;
    
}
#btnlast{
    background-color: rgba(0, 17, 255, 0.562);
    width: 250px;
    color: whitesmoke;
    padding: 20px 10px 30px 10px;
    align-items: center;
    justify-content: center;
    align-content: center;

}
p{
    color: wheat;
}
#reset{
    color: wheat;
}
#containerRight{
    opacity: 1;
    width: 100vw;
    height: 100vw;
    background-color: red;
   display: flex;
   flex-direction: column;
   justify-content: right;
   align-content: flex-end;
}
/* height: 200px;
display: flex;
align-items: center;
justify-content: center;
/* background-color: turquoise; */
  
